<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" width=75
                    src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_8d85f4.png">
            </a>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
               
            </form>

            <button (click)='servefunc()' class="btn btn-default">Login</button>
            <button (click)='loadDashBoardDate()' class="btn btn-default">getData</button>
            
                  <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                    More <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li *ngFor='let morelabel of  moreLabels'>
                        <a href='#' >{{morelabel.name}}</a>
                      
                    </li>
                  </ul>
                  <a href='#'>Cart</a>
               
        </div>
    </div>
</nav>
